[Unit]
Description=Entry System Service

[Service]
Restart=on-failure
RestartSec=10
WorkingDirectory=/opt/entry-system/server
User=hackspace
SyslogIdentifier=entry-system
Environment=NODE_ENV=%i
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
